@import './responsive';

.container-h1 {
    margin: 2rem 0 1rem 0;
    border-bottom: 2px solid #FF6B6C;
    width: fit-content;
    display: inline-block;
    font-size: 3rem;
    &:hover {
        color: #FF6B6C;
    }

}



.carousel .control-dots .dot {
    box-shadow: none !important;
    background-blend-mode: exclusion !important;
    background-color: rgb(87, 87, 87) !important;
}

#carouselSec {
    padding-bottom: 2rem;
    // background: black;
    position: relative;
    // left: -6rem;
    // width: 100%;
    // padding-right: 3rem;
    /* margin-bottom: 2rem; */
    margin-top: 2rem;
    border-radius: 13px;
}

.caraousel {
    margin-right: 3rem;
    margin-top: 2rem;
    img {
        height: 500px;
        object-fit: contain;
    }
}

.videos_container * {
    margin-right: 1rem;
}

#twitter-widget-0, .typeform-widget {
    margin-left: 1rem;
}

@include medium-and-below {
    #Stories_of_the_day > .container-h1{
        margin-top: 0.6rem  !important;
        font-size: 2.5rem;
    }
    .container-h1 {
        margin: 2rem 0 1rem 0;
    }
    #homepage{
        // width: 400px;
    }
}
.carousel.carousel-slider {
    overflow-x: hidden;
    overflow-y: clip;
}

@include medium-to-large {
    #homepage{
        width: fit-content;
        padding-left: 3rem;
    }
    
    .article-container {
        display: flex;
        flex-direction: row;
        width: fit-content;
        flex-wrap: wrap;
        article {
            flex-shrink: 0;
        }
    }
    
}

@include above-large {
    main {

        & > section {
            border-right: 1px dotted rgba(0, 0, 0, 0.3);
            border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
        }
    }
    .article-container {
        display: flex;
        flex-wrap:no-wrap;
        width: fit-content;
        
        overflow-x: auto;
        article {
            flex-shrink: 0;
        }
    }
    #homepage{
        display: grid;
        grid-template-columns: minmax(1500px, 1700px) minmax(250px, 500px);
        main{
            grid-column: 1 / 2;
        }
        aside {
            border-left: 1px solid rgb(163, 163, 163);
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            hr {
            margin: 2rem 1.5rem;
            }
            .calendar-event-card {
                display: flex;
                margin: 1rem;
                background-color: #EBEBEB;
                border-radius: 13px;
                align-content: center;
                justify-content: center;
                padding: 1rem;
                .left-date {
                    margin-right: 1.3rem;
                    h2 {
                        font-family: 'Roboto';
                        font-weight: 500;
                        font-size: 2.3rem;
                        margin: 0;
                    }
                    span {
                        font-size: 1rem;
                    }
                }
                .right-info {
                    h1 {
                        font-family: 'Roboto';
                        font-weight: 500;
                        font-size: 1.2rem;
                        margin: 0 0 .2rem 0;
                    }
                    
                    p {
                        margin: 0;
                        font-family: 'Roboto';
                    }
                }
                
                
            }
            #resource_guide {  
                margin: 2rem 0 2rem 1rem;
                a {
                    margin: 2rem 0 1rem 0;
                    border-radius: 13px;
                    padding:2rem 1rem;
                    background-color: #FF6B6C;
                    
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    div { 
                        color: #FFFFFF;
                        text-decoration: none;
                        font-family: 'Roboto';
                        font-style: normal;
                        max-width: 8ch;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px; 
                        margin-right: 1rem;
                     }

                }
                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }
    }
}

// .container-h1 {
//   font-size: 3rem;
//   margin: 3rem 0 0 3rem !important;
//   display: inline-block;
//   border-bottom: 2px solid #FF6B6C;
//   position: relative;
//   // font-size: 3rem;
// }

// #Stories_of_the_day > .container-h1{
//   margin: 1.5rem 0 0 3rem !important;
// }
// .article-container {
//   display: flex;
//   flex-wrap: wrap;
//   width: fit-content;
//   border-bottom: 1px dotted black;
//   // overflow-x: hidden;
//   // overflow-x: auto;
//   // margin: 0 auto 1rem auto;
//   article {
//     flex-shrink: 0;
//   }
// }

