$small-width: 767px;
$medium-width: 1200px;
$large-width: 1800px;


@mixin small-and-below{
    @media only screen and (max-width: $small-width) {
        @content;
    }
}

@mixin medium-and-below{
    @media only screen and (max-width: $medium-width) {
        @content;
    }
}

@mixin small-to-medium{
    @media only screen and (min-width:$small-width) and (max-width: $medium-width) {
        @content;
    }
}

@mixin medium-to-large{
    @media only screen and (min-width:$medium-width) and (max-width: $large-width) {
        @content;
    }
}
@mixin small-to-large{
    @media only screen and (min-width:$small-width) and (max-width: $large-width) {
        @content;
    }
}

@mixin above-large {
    @media only screen and (min-width: $large-width) {
        @content;
    }
}


@mixin above-medium {
    @media only screen and (min-width:$medium-width) {
        @content;
    }
}

@mixin above-small{
    @media only screen and (min-width:$small-width) {
        @content;
    }
}